/* Сначало надо выполнить подключение общего шрифта,кот. будет на сайте */
/*переходим на fonts.google.com*/
/*вибираем шрифт monserat*/


/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200,400,500,700&display=swap&subset=cyrillic-ext'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*добавляем общие стили,а затем добавим стили для шапки*/
*{
    margin: 0;/*отступ внушний*/
    padding: 0;/*отступ внутрений*/
    outline: none;/*обводка(лучше прописывать всегда)*/
}

body{
    background: #fafafa;
    font-size: 16px;/*размер шрифта*/
    font-family: "Montserrat", sans-serif;/*общий шрифт*/
    font-weight: 400;/*ширина шрифта по умолчанию*/
}

/*общие стили для ссылок*/

a{
    text-decoration:none;/*без нижнего подчеркивания*/
    transition: color 600ms ease ;/*делаем анимацию,кот.применяется к цвету
    и ф-ией ease - разная плавность перехода*/
}

img{max-width: 100%;}/*все картинки не будут больше 100% чем родительский эл-нт*/
/*не будут вылазить за рамки родильского эл-та

/*шапка*/
header{
    width: 90%;/*ширина*/
    padding: 20px 5%;/*отступы:20px -по вертикали,5% - по горизонтали*/
    background: #fff;
    display: flex;/*выравнивание*/
    justify-content: space-between;/*расположение контента-по бокам*/
    align-items: center;/*центрируем по вертикали*/
}

/*далее добавляем стили,для тех тегов что в внутри*/

header > .logo{
    font-size: 25px;/*размер шрифта*/
    font-weight: 700;/*жирность*/
}

/*передвигаем Главная Услуги Про компанию ближе к центру*/
header> .nav{
    position: relative;
    left: -50px;
}
/*теперь обращаемся ко всем ссылкам,что внутри*/
header > .nav a{
    margin: 0 15px;/*отступы спарава и слева по 15px*/
    display: inline-block;/*что то про расположение*/
    color: #a3a3a3;
}

/*эфект при наведении*/
header > .nav a:hover,
header > .menu:hover {color: #4f4e4e;}

/*стили для меню*/
header > .menu {
    cursor: pointer;/*активный курсор при наведении*/
    color: #a3a3a3;
    font-size: 23px;
}
/*теперь делаем картинку на весь экран*/
.full-page{
    height: 95vh;/*95 процентов высоты экрана*/
    background: url('../img/main-bg.jpg') no-repeat center center ; /*не повторяется,центр по вертикали и горизонтали*/
    background-attachment: fixed;/*фиксируем задний фон*/
    background-size: cover;/*растягиваем на весь экран*/
    background-blend-mode: multiply;/*сочетание двух слоев*/
    background-color: #3b3b3b;/*сочетается с серым,поэтому получается затемненный*/
    text-align: center;/*текст по центру*/
    color: #fff;
}
/*работаем с текстом*/
